/* Remove the navbar's default margin-bottom and rounded borders */
.body {
    width: 80%;
    margin: 0 auto;
}

.navbar {

    margin: 15px;

    border-radius: 0;
    display: flex;

    justify-content: space-between;
    background-color: #122b40;


}

.jumbotron {
    margin: 15px;

    background-image: url("images/stars-dean-hayton.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;


    
}

.jumbotron h1,
.jumbotron .h1 {
    color: white;
}

.jumbotron p,
.jumbotron .p {
    color: white;
}

a.round1 {
    display: block;
    background-color: #0c6dc4;
    color: #FFF;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    width: 150px;
    text-decoration: none;
    alignment: center;
    margin-top: 10px;
}

.contactFormContainer {
    width: 50%;
    margin: 0 auto;
    border-style: solid;
    border-color: black;

}
.contactFormContainer div label {
    display: flex;
    justify-content: space-between;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}